@model Ecommerce.Models.Collaborator
@{
    ViewData["Title"] = "UpdateCategory";
}

<h1>Alterar Colaborador</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" placeholder="Digite o nome da categoria">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="email" class="form-control" asp-for="Email" placeholder="Digite o slug da categoria">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Type"></label>
        <select class="form-control" asp-for="Type">
            <option value="M">Gerente</option>
            <option value="N">Funcionário</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button> <a asp-action="Index" class="btn btn-primary">Voltar</a>
</form>